<a href="https://colab.research.google.com/github/HodaMemar/SemanticSimilarity_ClinicalNotes/blob/main/Create_Dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##DataSet

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from os.path import exists

#Preprocess

In [3]:
df_text=pd.read_csv('/content/drive/MyDrive/PaperA3/TFIDF/L2_G00_Disease')

In [ ]:
path=[["MultipartiteRank","/content/drive/MyDrive/PaperA3/MultipartiteRank/MultipartiteRank_20_"],
      ["YAKE","/content/drive/MyDrive/PaperA3/YAKE/YAKE_20_"],
      ["KeyBERT","/content/drive/MyDrive/PaperA3/KeyBERT/KeyBERT_20_"],
      ["Key2Vec","/content/drive/MyDrive/PaperA3/Key2Vec/Key2Vec_20_"],
      ["PositionRank","/content/drive/MyDrive/PaperA3/PositionRank/PositionRank_20_"]]

In [ ]:
for j in range(len(path)) :
    df_remain=pd.DataFrame(columns = ['label','Text'])
    for i in range(1,80):
      filename=path[j][1]+str(i)+".csv"
      
      if (exists(filename)==True):
              
              df2=pd.read_csv(filename)
              df2=df2[['label','Text']]
              
              df_remain=pd.concat([df_remain, df2])
      df_remain.label=df_remain.label.astype(float).astype(int) 
      df_remain.drop_duplicates(subset=['label','Text'], keep='last')       
    print(path[j][0],len(df_remain),len(df_remain.label.unique().tolist()))
    df_remain.to_csv(path[j][1]+'Total')

MultipartiteRank 26029 25926
YAKE 26927 25926
KeyBERT 25923 25921
Key2Vec 27111 25924
PositionRank 26123 25924

#Diagnoses_labels

In [20]:
df_ccs=pd.read_csv('/content/drive/MyDrive/PaperA3/Diagnoses_labels/DIAGNOSES_ICD_CCS.csv')
df_diagnosis=pd.read_csv('/content/drive/MyDrive/PaperA3/Diagnoses_labels/Final_L1.csv')

In [21]:
df_ccs

,Unnamed: 0,ROW_ID,SUBJECT_ID,HADM_ID,SEQ_NUM,ICD9_CODE,CCS LVL 1,L1,CCS LVL 2,L2,CCS LVL 3,L3,CCS LVL 4,CCS LVL 4 LABEL
0,0,1297,109,172335,1.0,40301,7.0,Diseases of the circulatory system,7.1,Hypertension,7.1.2,Hypertension with complications and secondary ...,7.1.2.1,Hypertensive heart and/or renal disease
1,1,1298,109,172335,2.0,486,8.0,Diseases of the respiratory system,8.1,Respiratory infections,8.1.1,Pneumonia (except that caused by TB or STD) [1...,8.1.1.3,Pneumonia; organism unspecified
2,2,1299,109,172335,3.0,58281,10.0,Diseases of the genitourinary system,10.1,Diseases of the urinary system,10.1.1,Nephritis; nephrosis; renal sclerosis [156.],,
3,3,1300,109,172335,4.0,5855,10.0,Diseases of the genitourinary system,10.1,Diseases of the urinary system,10.1.3,Chronic kidney disease [158.],,
4,4,1301,109,172335,5.0,4254,7.0,Diseases of the circulatory system,7.2,Diseases of the heart,7.2.2,Peri-; endo-; and myocarditis; cardiomyopathy ...,7.2.2.1,Cardiomyopathy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
672824,672824,639798,97503,188195,2.0,20280,2.0,Neoplasms,2.1,Cancer of lymphatic and hematopoietic tissue,2.10.2,Non-Hodgkins lymphoma [38.],,
672825,672825,639799,97503,188195,3.0,V5869,17.0,Symptoms; signs; and ill-defined conditions an...,17.2,Factors influencing health care,17.2.4,Other aftercare [257.],,
672826,672826,639800,97503,188195,4.0,V1279,9.0,Diseases of the digestive system,9.12,Other gastrointestinal disorders [155.],9.12.3,Other and unspecified gastrointestinal disorders,,
672827,672827,639801,97503,188195,5.0,5275,9.0,Diseases of the digestive system,9.3,Diseases of mouth; excluding dental [137.],,,,
672828,672828,639802,97503,188195,6.0,5569,9.0,Diseases of the digestive system,9.6,Lower gastrointestinal disorders,9.6.2,Regional enteritis and ulcerative colitis [144.],,

In [ ]:
filename=path[0][1]+'Total'
df_text=pd.read_csv(filename)
print(path[0][0])

MultipartiteRank

In [22]:
print(df_text.shape)
print(df_ccs.shape)
print(df_ccs.shape)

(24536, 6)
(672829, 14)

In [6]:
df_text.head()

,Unnamed: 0,HADM_ID,TFIDF,list_CUIs,number_CUIs
0,0,100001.0,"c0011880,c0042963,c0011882,c0152020,c0277910,c...","['c0011880', 'c0042963', 'c0011882', 'c0152020...",30
1,1,100003.0,"c0023890,c0038354,c0020649,c0003962,not_c00148...","['c0023890', 'c0038354', 'c0020649', 'c0003962...",98
2,2,100009.0,"c0002962,c0344315,c0042514,not_c0233568,c00287...","['c0002962', 'c0344315', 'c0042514', 'not_c023...",46
3,3,100010.0,"c0007134,c0018965,c1262477,c0439650,c0038984,c...","['c0007134', 'c0018965', 'c1262477', 'c0439650...",17
4,4,100011.0,"c0016658,c0752219,c0029423,c0015802,c0347625,c...","['c0016658', 'c0752219', 'c0029423', 'c0015802...",77

#تولید دیکشنری از مفاهیم

In [7]:
dd=pd.read_csv('/content/drive/MyDrive/PaperA3/Diagnoses_labels/Dictionary.csv')
dictionary = dict(zip(dd.first_cuid, dd.canonical_name))

# تولید دیکشنری

In [ ]:
filename="/content/drive/MyDrive/PaperA3/CUI/CUI_Total.csv"
df=pd.read_csv(filename)

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (1,2,5) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
dd=df[['first_cuid', 'canonical_name']]
print(len(dd))
dd.drop_duplicates(keep="last",inplace=True)
print(len(dd))

18075318
25312

/usr/local/lib/python3.7/dist-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

In [ ]:

dd.head()

     first_cuid                 canonical_name
355    C1278302     Hepatitis B screening test
400    C0004285                      Audiology
833    C0001916                       Albinism
1130   C0013069  Double Outlet Right Ventricle
1691   C1394030            Coronal hypospadias

برای تولید دیکشنری به این فرم حتما باید زیپ کرد

In [ ]:

dictionary = dict(zip(dd.first_cuid, dd.canonical_name))

In [ ]:
dictionary

In [ ]:
dd.to_csv('/content/drive/MyDrive/PaperA3/Diagnoses_labels/Dictionary.csv')

#Integration

#تولید دیتاست

In [8]:
import ast
def complex_function( ini_list):

    res= ast.literal_eval(ini_list)
    tms_text=''
 
    try:
      for i in res:
        
        if(i.upper().startswith("NOT_")):
          tms_text=tms_text +'NOT_'+dictionary[i[4:].upper()] +','
        else:
          tms_text=tms_text +dictionary[i.upper()] +','  
    except :
          print(i)    
    return tms_text

In [ ]:

x = ast.literal_eval()
x

In [ ]:
complex_function(df_text['list_CUIs'][0])

'Diabetic Ketoacidosis,Vomiting,Diabetic Neuropathies,Gastroparesis,Ejection Murmurs,Kidney Diseases,Autonomic neuropathy,Chronic kidney disease stage 1,Spinal Fractures,Proteinuria,Hypotension, Orthostatic,NOT_Clostridium difficile colitis,Nausea,Retinal Diseases,Chronic Kidney Insufficiency,Hematemesis,NOT_Contusions,diabetic,Chronic Kidney Diseases,Chills,NOT_Congenital Abnormality,Diarrhea,Hypertensive disease,NOT_Pulmonary Edema,NOT_Pneumonia,Dyspnea,NOT_Pleural effusion disorder,Refractory anemias,Pain,NOT_Edema,'

In [9]:
#only for TFIDF
df_text['Text'] = df_text.apply(lambda x: complex_function(x['list_CUIs']), axis=1)

In [11]:
df_text = df_text.rename(columns={'label': 'HADM_ID'})

In [12]:
df_total = pd.merge(df_text, df_diagnosis, on=["HADM_ID"],how="left")
print(df_total.shape)
df_total.head()

(24536, 26)

,Unnamed: 0_x,HADM_ID,TFIDF,list_CUIs,number_CUIs,Text,Unnamed: 0_y,L1,1,2,...,9,10,11,12,13,14,15,16,17,18
0,0,100001.0,"c0011880,c0042963,c0011882,c0152020,c0277910,c...","['c0011880', 'c0042963', 'c0011882', 'c0152020...",30,"Diabetic Ketoacidosis,Vomiting,Diabetic Neurop...",0.0,19.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,100003.0,"c0023890,c0038354,c0020649,c0003962,not_c00148...","['c0023890', 'c0038354', 'c0020649', 'c0003962...",98,"Liver Cirrhosis,Stomach Diseases,Hypotension,A...",1.0,13.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,100009.0,"c0002962,c0344315,c0042514,not_c0233568,c00287...","['c0002962', 'c0344315', 'c0042514', 'not_c023...",46,"Angina Pectoris,Depressed mood,Tachycardia, Ve...",4.0,30.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,3,100010.0,"c0007134,c0018965,c1262477,c0439650,c0038984,c...","['c0007134', 'c0018965', 'c1262477', 'c0439650...",17,"Renal Cell Carcinoma,Hematuria,Weight decrease...",5.0,6.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,100011.0,"c0016658,c0752219,c0029423,c0015802,c0347625,c...","['c0016658', 'c0752219', 'c0029423', 'c0015802...",77,"Fracture,Diffuse Axonal Injury,Cartilaginous e...",6.0,48.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [13]:
#Only for TFIDF
df_total.drop(['L1','Unnamed: 0_x',  'TFIDF', 'list_CUIs', 'number_CUIs','Unnamed: 0_y'], axis=1, inplace=True)
df_total.columns

Index(['HADM_ID', 'Text', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10',
       '11', '12', '13', '14', '15', '16', '17', '18'],
      dtype='object')

In [ ]:
df_total.drop(['L1','Unnamed: 0_x', 'Unnamed: 0_y'], axis=1, inplace=True)
df_total.columns

Index(['HADM_ID', 'Text', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10',
       '11', '12', '13', '14', '15', '16', '17', '18'],
      dtype='object')

In [14]:

df_raw=df_total
df_raw = df_raw.rename(columns={'Text': 'comment_text'})

In [15]:
df_raw.shape

(24536, 20)

In [16]:
def bool(value):    
  if(value==1):
          tms_text=True
  else:
          tms_text=False    
  return tms_text

In [17]:
df_raw.rename(columns={'1' : 'L_1.0', '2':'L_2.0', '3':'L_3.0', '4':'L_4.0', '5':'L_5.0', '6':'L_6.0', '7':'L_7.0', '8':'L_8.0', '9':'L_9.0', '10':'L_10.0',
       '11':'L_11.0', '12':'L_12.0', '13':'L_13.0', '14':'L_14.0', '15':'L_15.0', '16':'L_16.0', '17':'L_17.0', '18':'L_18.0'}, inplace=True)
df_raw.columns

Index(['HADM_ID', 'comment_text', 'L_1.0', 'L_2.0', 'L_3.0', 'L_4.0', 'L_5.0',
       'L_6.0', 'L_7.0', 'L_8.0', 'L_9.0', 'L_10.0', 'L_11.0', 'L_12.0',
       'L_13.0', 'L_14.0', 'L_15.0', 'L_16.0', 'L_17.0', 'L_18.0'],
      dtype='object')

In [18]:
df_raw['L_1.0'] = df_raw.apply(lambda x: bool(x['L_1.0']), axis=1)  
df_raw['L_2.0'] = df_raw.apply(lambda x: bool(x['L_2.0']), axis=1)  
df_raw['L_3.0'] = df_raw.apply(lambda x: bool(x['L_3.0']), axis=1)  
df_raw['L_4.0'] = df_raw.apply(lambda x: bool(x['L_4.0']), axis=1) 
df_raw['L_5.0'] = df_raw.apply(lambda x: bool(x['L_5.0']), axis=1)  
df_raw['L_6.0'] = df_raw.apply(lambda x: bool(x['L_6.0']), axis=1)  
df_raw['L_7.0'] = df_raw.apply(lambda x: bool(x['L_7.0']), axis=1)  
df_raw['L_8.0'] = df_raw.apply(lambda x: bool(x['L_8.0']), axis=1)  
df_raw['L_9.0'] = df_raw.apply(lambda x: bool(x['L_9.0']), axis=1) 
df_raw['L_10.0'] = df_raw.apply(lambda x: bool(x['L_10.0']), axis=1)  
df_raw['L_11.0'] = df_raw.apply(lambda x: bool(x['L_11.0']), axis=1)  
df_raw['L_12.0'] = df_raw.apply(lambda x: bool(x['L_12.0']), axis=1)  
df_raw['L_13.0'] = df_raw.apply(lambda x: bool(x['L_13.0']), axis=1)  
df_raw['L_14.0'] = df_raw.apply(lambda x: bool(x['L_14.0']), axis=1) 
df_raw['L_15.0'] = df_raw.apply(lambda x: bool(x['L_15.0']), axis=1)  
df_raw['L_16.0'] = df_raw.apply(lambda x: bool(x['L_16.0']), axis=1)  
df_raw['L_17.0'] = df_raw.apply(lambda x: bool(x['L_17.0']), axis=1)  
df_raw['L_18.0'] = df_raw.apply(lambda x: bool(x['L_18.0']), axis=1)

In [19]:
df_raw

,HADM_ID,comment_text,L_1.0,L_2.0,L_3.0,L_4.0,L_5.0,L_6.0,L_7.0,L_8.0,L_9.0,L_10.0,L_11.0,L_12.0,L_13.0,L_14.0,L_15.0,L_16.0,L_17.0,L_18.0
0,100001.0,"Diabetic Ketoacidosis,Vomiting,Diabetic Neurop...",False,False,True,False,False,True,False,False,False,True,False,False,False,False,False,False,False,False
1,100003.0,"Liver Cirrhosis,Stomach Diseases,Hypotension,A...",False,False,False,True,False,False,False,False,True,False,False,False,False,False,False,False,False,False
2,100009.0,"Angina Pectoris,Depressed mood,Tachycardia, Ve...",False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,True,False,False
3,100010.0,"Renal Cell Carcinoma,Hematuria,Weight decrease...",False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,100011.0,"Fracture,Diffuse Axonal Injury,Cartilaginous e...",False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24531,199336.0,"Urinary tract infection,Pressure Ulcer,Myeliti...",False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,True,False
24532,199359.0,"Subarachnoid Hemorrhage,Cerebral ventriculomeg...",False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,True
24533,199557.0,"Chronic Obstructive Airway Disease,Respiratory...",False,False,True,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False
24534,199743.0,"Hematemesis,Injury of liver,Substance abuse pr...",False,False,False,False,True,False,False,False,True,False,False,False,False,False,False,False,False,False
24535,199987.0,"Fracture,Fracture of acetabulum,Pneumothorax,A...",False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False

In [ ]:
df_raw.to_csv('/content/drive/MyDrive/PaperA3/Final_Dataset/df_raw_L2_G00_Disease.csv')